.main{
    width: 700px;
    height: 150vh;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.post{
    margin: 20px 0px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 700px;
}

.post-photo-container{
    position: sticky;
    width: 100%;
    overflow: hidden;
}
.img-slider{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.img-container{
    width: 100%;
    position: relative;
}
.img-container img{
    width: 700px;
    height: 400px;
    object-fit: cover;
}
.img-arrow-right{
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.768);
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    right: 10px;
    color: black;
    z-index: 5;
}
.img-arrow-left{
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.768);
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 10px;
    color: black;
    z-index: 5;
}
.caption{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.319);
    color: white;
    backdrop-filter: blur(2px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.img-slider::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE and Edge */
.img-slider {
    -ms-overflow-style: none;
}

.post-content-container{
    background-color: white;
    padding: 15px;
    font-size: 0.9em;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.content-head-container{
    margin: 30px 0px;
    text-align: justify;
}

.content-title{
    font-size: 1.2em;
    margin-bottom: 5px;
    border-left: 2px solid orange;
    padding-left: 20px;
    
}

.content-date{
    text-align: end;
    font-size: 0.9em;
    padding-right: 20px;
}
.post-content{
    text-align: justify;
    padding: 0px 20px;
}

@media screen and (max-width:700px){
    .post{
        width: 95vw;
    }
    .main{
        width: 95vw;
    }
    .img-container img{
        width: 95vw;
    }
    

}




